<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'store/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/main.css' %}">
    <script type="text/javascript">
        var user = '{{request.user}}'
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');

        function getCookie(name){
            //split cookie string and get all individual name=value pairs in an array
            var cookieArr= document.cookie.split(";");
            //loop through the array elements
            for(var i = 0; i < cookieArr.length; i++){
                var cookiepair = cookieArr[i].split("=");

                /* removing whitespace at the beginning of the cookie name
                and compare it with the given string */
                if (name == cookiepair[0].trim()) {
                    // decode the cookie value and return
                    return decodeURIComponent(cookiepair[1]) 
                }
            }

            //return null if not found 
            return null
        }
        var cart = JSON.parse(getCookie('cart'))
        // console.log('cart:', cart)

        if(cart == undefined) {
            cart = {}
            console.log('cart created:', cart)
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
        // console.log('cart:', cart)
    </script>
    <title>Toutou Ecommerce</title>
</head>
<body>
    <!-- ==================================  START NAVBAR ================================== -->
    {% include 'store/parts/navbar.html' %}
    <!-- ==================================  END NAVBAR ================================== -->
        {% block content %}
            
        {% endblock content %}
    
    <!-- ==================================  START FOOTER ================================== -->
    {% include 'store/parts/footer.html' %}
    <!-- ==================================  END FOOTER ================================== -->
    <script src="{% static 'store/js/cart.js' %}"></script>
    <script src="{% static 'store/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'store/js/jQuery-3.6.3.js' %}"></script>
</body>
</html>