<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="{% static 'store/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'store/js/jQuery-3.6.3.js' %}"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        />
        <link
            rel="stylesheet"
            href="{% static 'store/css/bootstrap.min.css' %}"
        />
        <link rel="stylesheet" href="{% static 'store/css/main.css' %}" />
        <title>Toutou Ecom</title>
    </head>
    <body>
        <div class="row" style="height: 100vh">
            <div
                class="col-lg-6 d-flex align-items-center justify-content-center"
            >
                <picture class="position-absolute bottom-0">
                    <source
                        srcset="
                            https://tailwindcss.com/_next/static/media/docs@30.8b9a76a2.avif
                        "
                        type="image/avif"
                    />
                    <img
                        src="/_next/static/media/docs@tinypng.d9e4dcdc.png"
                        alt=""
                        class="w-[71.75rem] flex-none max-w-none dark:hidden"
                        decoding="async"
                    />
                </picture>
                <div
                    class="d-flex align-items-start flex-column"
                    style="z-index: 10"
                >
                    {% for message in messages %}
                    <h5 style="color: red; text-align: center">{{message}}</h5>
                    {% endfor %}
                    <h1>Create an account Now</h1>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div
                            class="form-row d-flex align-items-md-center flex-column"
                        >
                            <div div class="form-group">
                                <label for="inputEmail4">Username</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Username"
                                    name="username"
                                />
                            </div>
                            <div class="form-group">
                                <label for="inputEmail4">Email</label>
                                <input
                                    type="email"
                                    class="form-control"
                                    id="inputEmail4"
                                    placeholder="Email"
                                    name="email"
                                />
                            </div>
                            <div class="form-group">
                                <label for="inputPassword4">Password</label>
                                <input
                                    type="password"
                                    class="form-control"
                                    id="inputPassword4"
                                    placeholder="Password"
                                    name="password"
                                    minlength="8"
                                />
                            </div>
                            <div class="form-group">
                                <label for="inputPassword4"
                                    >Confirm Password</label
                                >
                                <input
                                    type="password"
                                    class="form-control"
                                    id="inputPassword4"
                                    placeholder="Confirm Password"
                                    name="confirmpassword"
                                    minlength="8"
                                />
                            </div>
                            <button
                                type="submit"
                                class="btn btn-primary mt-2 d-block"
                            >
                                Sign in
                            </button>
                            <!-- <a
                                href="{% url 'store' %}"
                                class="btn btn-outline-primary mt-2 d-block"
                                >Return to home page</a
                            > -->
                            <hr />
                            <a
                                href="{% url 'login' %}" style="text-decoration: none;"
                                >You have an account ? Login now</a
                            >
                        </div>
                    </form>
                </div>
            </div>
            <div
                class="col-lg-6 d-flex align-items-center border-start"
                style="background-color: #f6f6f6 !important; z-index: 20"
            >
                <img
                    class="w-100"
                    src="{% static 'store/images/man-enjoying-shopping-discount.svg' %}"
                    alt=""
                />
            </div>
        </div>
    </body>
</html>
