{% load static %}

<div class="flex-shrink-0 p-3 h-100 sticky-top border-end" style="background-color: #f6f6f6 !important;">
    <!-- <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom"> -->
    <!-- <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg> -->
    <span class="fs-5 fw-semibold">Categories</span>
    <!-- </a> -->
    <ul class="list-unstyled ps-0">
      {% for category in categories %}
      <li class="mb-1 category{{category.id}}">
        <i class="fa-light fa-laptop-mobile"></i>
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
          {{category.name}}
        </button>
      </li>
      {% endfor %}
      <li class="border-top my-3"></li>
      <!-- ============ -->
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
        <div class="collapse" id="account-collapse">
          {% if user.is_authenticated %}
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a style="text-decoration: none;" href="{% url 'logout' %}" class="link-dark rounded">Logout</a></li>
          </ul>
          {% else %}
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a style="text-decoration: none;" href="{% url 'login' %}" class="link-dark rounded">Login</a></li>
            <li><a style="text-decoration: none;" href="{% url 'register' %}" class="link-dark rounded">Sign up</a></li>
          </ul>
          {% endif %}
        </div>
      </li>
      <!-- ============ -->
    </ul>
  </div>